.aboutUs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100vh;
  margin: 2rem;
  padding: 1rem;
}

.aboutUs-container > p {
  color: #fff;
}
