.footer-container {
  width: 100%;
  background: #314e52;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container > p {
  text-align: center;
  color: #fff;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container a:hover {
  color: #f2a154;
}
