* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #121013;
  position: relative;
}

h1 {
  color: #ffe227;
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
}

p {
  font-weight: 1000;
  color: #4d375d;
  font-size: 15px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  padding: 1rem;
  height: 100vh;
}

.equals {
  font-weight: bold;
  font-size: 5rem;
  color: #ffe227;
}
