body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #121013;
}

h1 {
  color: #ffe227;
  margin: 0;
  margin-bottom: 0.5rem;
}

p {
  font-weight: 1000;
  color: #4d375d;
  font-size: 15px;
  margin: 0;
}

.input,
select {
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
}

.input {
  border-radius: 0.3em;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  color: #ffe227;
}

.container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb596e;
  border-radius: 10px;
}

.currencyRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
