* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #e7e6e1;
  color: #f2a154;
}

.header h1 {
  font-size: 4rem;
  text-align: center;
}

.main-container,
.sub-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-container {
  justify-content: center;
  padding: 1rem;
}

.sub-container {
  background: #314e52;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem 0rem;
}

@media screen and (min-width: 750px) {
  .main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "header header header header header"
      ". container container container .";
  }
  .header {
    grid-area: header;
  }

  .sub-container {
    grid-area: container;
  }
}
